.bg{
    background: radial-gradient(rgba($color: #158296, $alpha: 1.0), rgba($color: #0a5a68, $alpha: 1.0));
    width: 100%;
    height: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;

    border-left: 2px solid rgba($color: #011924, $alpha: 1.0);
    border-right: 2px solid rgba($color: #011924, $alpha: 1.0);
    border-top: 2px solid rgba($color: #011924, $alpha: 1.0);
    border-bottom: 2px solid rgba($color: #011924, $alpha: 1.0);

    background: rgba($color: #000000, $alpha: 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
}
  
.example-full-width {
    width: 100%;
}

.color{
    color: rgba($color: #e2d9d9, $alpha: 1.0);
}

.input{
    background: rgba($color: #c4c3c3, $alpha: 1.0);
}

h1{
    width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: rgba($color: #ffffff, $alpha: 1.0) groove 2px;
    padding-bottom: 20px;
}

.label{
    width: 100%;
    height: auto;
    padding-bottom: 7px;
    padding-top: 15px;
    display: block;
    font-size: 16px;
}

button{
    width: 100%;
    margin-top: 10px;
}