<div class="b container_bar">
  <div class="top_bar_left">
    <button mat-icon-button class="example-icon noPaddingMarging" aria-label="Example icon-button with menu icon">
      <mat-icon class="noPaddingMarging">menu</mat-icon>
    </button>
    <span class="noPaddingMarging">Menu</span>
  </div>
  
  <div class="top_bar" [style.width.px]="sizeCenter">
    <mat-toolbar class="centro">
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon class="icon">account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>manage_accounts</mat-icon>
            <span>Conta</span>
          </button>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>

        <span>{{nameUser}}</span>
      </mat-toolbar>
  </div>

</div>
